<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjVW8-OZxawxhRltBQSRgq2-zezZmgNto</string>
	<key>GCM_SENDER_ID</key>
	<string>877947485736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProject</string>
	<key>PROJECT_ID</key>
	<string>mobile-app-7602b</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-app-7602b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877947485736:ios:fcc5502689cc0b6c01bf1d</string>
</dict>
</plist>